.jb-card {
  background-color: #bbb;
  &__header {
    background-color: #ccc;
    padding: $jb-padding;
  }
  &__content {
    font-size: 22px;
  }

  /* ELEMENT SPECIFICS */
  .el-card__header {
    padding: 0;
    margin: 0;
    background-color: #ccc;
  }
}
